body
{
    margin: 0;

}

h1
{
    margin-top: 0;
    color: #F7D716;
}

p
{
    color: #F7D716;
}

div
{
    background-color: #1F4690;
    padding: 20px;
    text-align: center;
}